@media only screen and (max-width: 490px) {
  body {
    overflow-y: hidden;
  }
  h1 {
    font-weight: normal;
    font-size: 15px;
  }

  h2 {
    text-align: center;
    font-size: 12px;
  }

  button {
    font-size: 8px;
    padding: 6px 20px;
  }

  button.ghost {
    font-size: 8px;
  }
  input {
    padding: 5px 10px;
    font-size: 12px;
    width: 110%;
  }
  input::placeholder {
    font-size: 10px;
  }
  .container {
    padding-left: 10px;
    width: 400px;
    min-height: 20rem;
  }
}
